include AUTHORS COPYING TRANSLATORS ChangeLog uninstall.sh
include share/*
include man/*
include locale/*
exclude locale/*qm
include ffmulticonverter/resources.qrc
recursive-exclude ffmulticonverter *pyc
