include AUTHORS COPYING TRANSLATORS ChangeLog resources.qrc uninstall.sh
include bin/ffmulticonverter
include test/*
include share/*
include man/*
include locale/*
exclude locale/*qm
recursive-exclude ffmulticonverter *pyc
