include AUTHORS COPYING ChangeLog
include data/*
include doc/*
include ffmulticonverter/qrc_resources/*
include ffmulticonverter/locale/*
exclude ffmulticonverter/locale/*qm
recursive-exclude ffmulticonverter *pyc
recursive-include tests *
recursive-exclude tests *pyc
