[Desktop Entry]
Type=Application
Name=FF Multi Converter
GenericName=File Format Converter
Comment=GUI application which converts multiple file formats 
Exec=ffmulticonverter
Icon=ffmulticonverter
Terminal=false
Categories=Qt;AudioVideo;Office;AudioVideoEditing;
StartupNotify=false
