[Desktop Entry]
Type=Application
Name=FF Multi Converter
GenericName=File Format Converter
GenericName[pt]=Conversor de ficheiros
Comment=GUI application which converts multiple file formats
Comment[pt]=Programa para conversão de diversos formatos de ficheiro
Exec=ffmulticonverter
Icon=ffmulticonverter
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Application;AudioVideo;AudioVideoEditing;Office;