[Desktop Entry]
Type=Application
Name=FF Multi Converter
GenericName=File Format Converter
Comment=GUI application to convert multiple file formats 
Encoding=UTF-8
Exec=ffmulticonverter
Icon=/usr/share/app-install/icons/ffmulticonverter.png
Terminal=false
Categories=
StartupNotify=false
