[Desktop Entry]
Name=FF Multi Converter
GenericName=FF Multi Converter
Comment=GUI application to convert multiple file formats 
Encoding=UTF-8
Exec=/usr/local/bin/ffmulticonverter
Icon=/usr/share/app-install/icons/ffmulticonverter.png
Terminal=false
Type=Application
Categories=
StartupNotify=false
